# Your discord bot token
discord-token: "Discord Bot Token Here"

# Jellyfin server address
jf-server: "https://media.example.com/jellyfin"

# Jellyfin Apikey
jf-apikey: "jellyfin api key"

# slashcommand group for your bot
# setting it to "jfmusic" will make the commands be 
# /jfmusic <something> <parameters>
command-group: "jfmusic"

# Number of items to display when searching, min: 1, max: 9
search-limit: 5

# debug mode
# when debug mode is enabled, commands will only be exposed to the specified debug server
# debug commands will also be enabled
enable-debug: false
debug-server: 123456789012345678
